body {
  background-color: var(--inner-backgr-color);
  font-family: 'Seymour One', sans-serif; 
  color: var(--font-color);
}

:root {
  --surround-backgr-color: rgb(24, 24, 23); /*background outside for large screens*/
  --inner-backgr-color: rgb(168, 165, 165); /* background inside the display field*/
  --inner-btn-backgr-color: rgb(150, 144, 144); /* background inside buttons*/
  --border-color: #b6a984; /* borders */
  --font-color: rgb(64, 65, 64);
  --main-font-weight: 500;
}


  .list-group-item .btn {
    background-color: var(--border-color);
    padding: 8px 10px;
    font-size: calc(1rem + .8vw);
    width: 90%;
    border: 3px double var(--inner-backgr-color);
    border-radius: 10px;
    margin: .6vh;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 6px 6px 10px #888888;
    color: inherit;
    font-weight: var(--main-font-weight);
  }

 

  .list-group-item {
    background-color: var(--inner-backgr-color);
    border: none;
  }

  .list-group-item:hover {
    background-color: var(--inner-backgr-color);
  }

  .list-group-item:active {
    background-color: var(--inner-backgr-color);
  }

  .list-group {
    list-style-type: none;
    
  }

  .app-container {
    background-color: var(--inner-backgr-color);
    text-align: center;
    margin: 10vh auto;
    padding: 1vh 0;
    width: 95vw;
    border: 5px double var(--border-color);
    border-radius: 10px;
  }


h1 {
  font-size: calc(2rem + 3vw);
  font-weight: 900;
  color: var(--border-color);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--font-color);
}



.modal-header h1 {
  text-transform: uppercase;
  font-size: calc(1rem + 1.3vw);
  
}

.modal {
  background-color: rgba(181, 184, 179, 0.2);
}

.modal-content {
  background-color: var(--border-color);
  border: 3px double var(--inner-backgr-color);
  border-radius: 10px;
  font-size: calc(.7rem + 1vw);
  
}

.modal-header {
  
}

@media (max-width: 800px) {
  .list-group-item .btn {
    font-size: calc(1rem + .8vw);
    width: 95%;
    margin: 0;
    
  }
}




@media (min-width: 1025px) {
  .app-container {
    width: 50%;
  }
  body {
    background-color: var(--surround-backgr-color);
  }
}

@media (max-width: 1025px) {
  .app-container {
    margin-top: 1vh;
  }
} 